body {
    background-color: black;
    color: #169600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

.giovana {
    border: 2px solid #169600;
    padding: 30px;
    width: 350px;
    background: #0a0a0a;
}

.headerlogin h2 {
    text-align: center;
    margin-bottom: 25px;
}

.inputgroup {
    margin-bottom: 20px;
}

.inputgroup input {
    width: 100%;
    background: transparent;
    border: 1px solid #169600;
    padding: 10px;
    color: #00ff88;
    outline: none;
}

.butao {
    width: 100%;
    background: #169600;
    color: black;
    border: none;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
}

.footerlogin {
    margin-top: 20px;
    text-align: center;
}