

body{
display: grid;
grid-template-areas: 
"cabeca cabeca"
"braco corpo"
"pe pe";
grid-template-rows: 100px auto 100px;
grid-template-columns: 200px auto;
}




header{
 background-color: aqua;
 grid-area: cabeca;



}

main{
background-color: blue;
 grid-area: corpo;




}

footer{
background-color: brown;
 grid-area: pe;



}

aside{
background-color: chartreuse;
 grid-area: braco;



}

@media only screen and (max-width: 850px){
body{
display: grid;
grid-template-areas: 
"cabeca"
"braco"
"corpo"
"pe";
grid-template-rows: 100px 50px auto 100px;
grid-template-columns: auto;
}
.letra{
   color: #54cc54;
   background-color #e73838;
}
}

@media only screen and (max-width: 450px){
body{
   display: grid;
   grid-template-areas: 
   "cabeca"
   "corpo"
   "pe";
   grid-template-rows: 100px 500px 100px;
   grid-template-columns: auto;
   
}
aside{
   display: none;
}

}



.card{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 50px;
   align-items: center;
   border: yellow 2px solid;
   background-color: darkmagenta;
   width: 400px;
   height: 650px;
   border-radius: 10px;
   text-align: center;
   margin: 10px;

}

.imagem_produto{
   width: 320px;
}

.d_produto{
   color: #eca4a4;
   font-size: xx-large;
}

.p_produto{
color: deeppink;
font-size: 40px;
}

.botao_produto{
font-size: 30px;
background-color: blue;
width: 50%;
text-decoration: none;
height: 50px;
border-radius: 20px;
}

.letra_botao{
   display: block;
   text-align: center;
   text-decoration: none;
   color: aliceblue;
}

.mae{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
