

body{
display: grid;
grid-template-areas: 
"cabeca cabeca"
"braco corpo"
"pe pe";
grid-template-rows: 100px auto 100px;
grid-template-columns: 200px auto;
}




header{
 background-color: red;
 grid-area: cabeca;



}

main{
background-color: white;
 grid-area: corpo;




}

footer{
background-color: red;
 grid-area: pe;



}

aside{
background-color: gray;
 grid-area: braco;



}

@media only screen and (max-width: 850px){
body{
display: grid;
grid-template-areas: 
"cabeca"
"braco"
"corpo"
"pe";
grid-template-rows: 100px 50px auto 100px;
grid-template-columns: auto;
}
}

@media only screen and (max-width: 450px){
body{
   display: grid;
   grid-template-areas: 
   "cabeca"
   "corpo"
   "pe";
   grid-template-rows: 100px auto 100px;
   grid-template-columns: auto;
   
}
aside{
   display: none;
}

}



.card{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 50px;
   align-items: center;
   border: none;
   background-color: rgb(115, 181, 243);
   box-shadow: 0 4px 8px rgb(21, 27, 28);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
   width: 400px;
   height: 650px;
   border-radius: 10px;
   text-align: center;
   margin: 10px;
}

.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 12px 20px rgba(32, 55, 56, 0.911);
}

.imagem_produto{
   width: 320px;
}

.d_produto{
   color: #000000;
   font-size: xx-large;
}

.p_produto{
color: rgb(0, 0, 0);
font-size: 40px;
}

.botao_produto{
font-size: 30px;
background-color: blue;
width: 50%;
text-decoration: none;
height: 50px;
border-radius: 20px;
}

.letra_botao{
   display: block;
   text-align: center;
   text-decoration: none;
   color: aliceblue;
}

.mae{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
